footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 5px;
}

.keyboard-row {
  display: flex;
  justify-content: center;

  align-items: center;
  gap: 5px;
}
.keybordboard-block {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  background-color: #d3d6da;
  border-radius: 3px;
  width: 35px;
  height: 45px;
}
.keybordboard-block_wide {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  font-size: 10px;
  background-color: #d3d6da;
  border-radius: 3px;
  width: 53px;
  height: 45px;
}
